.option-desc {
  width: 575px;
  height: 34px;
  left: 2px;
  top: 54px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #969696;
}
